body {
    background:url('http://cdn.wallpapersafari.com/13/6/Mpsg2b.jpg');
    margin:0px;
    font-family: 'Ubuntu', sans-serif;
      background-size: 100% 110%;
  }

.post-img{
    height: 404px;
    overflow: hidden; 
}
.post-img img{
    width: 100%;
}

.notice-post-content h1{
    text-align: center;
}
.notice-post-content p{
    font-size: 18px; 
}

.row{
    display: flex;
}
.more-post{
    flex-direction: column; 
    align-items: center;
}
.noticepost-meta{ 
    display: flex;
    justify-content: space-between;
}

.author-info{
    margin: 12px 0;
}
.author-info div{
    padding: 4px 0px;
    font-family: var(--font2);
}
.social{
    padding-right: 53px;
    align-self: center;
    cursor: pointer;
}

.htt img{
    height: 874px;
    width: 943px;
}